@{
    ViewData["Title"] = "Category";
}

<style>
    .card {
        margin-bottom: 20px;
    }

    #IconButtonEdit {
        margin-left: 50px;
    }

    #IconButtonDel {
        margin-left: 7px;
    }

    

    #white {
        color: white;
    }

    .leftSpace {
        margin-left: 2%;
    }

    .black {
        color: Black;
    }

    .mainpic {
        max-width: 30px;
        max-height: 30px;
    }

</style>
<style type="text/css">
    @@media (max-width: 767px) {
        #mainheading {
            text-align: center;
        }

        .col-lg-2,
        .col-md-6,
        .col-12 {
            text-align: center;
            margin-bottom: 10px;
        }

        #startdate {
            margin-left: 0px;
        }

        .leftSpace {
            display: none;
        }
    }

    @@media (min-width: 992px) {
        #mainheading {
            text-align: left;
            color: white;
        }

        .col-lg-2,
        .col-md-6,
        .col-12 {
            text-align: left;
            margin-bottom: 0;
        }

        #startdate {
            margin-left: 20px;
        }

        .leftSpace {
            margin-left: 2%;
        }
    }

</style>
<div class="row">


    <div class="col-md-2">
        <h1>Categories</h1>
    </div>
  
          

    @*<div class="col-md-4">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6 col-12 text-md-end text-center mt-2 mt-md-0">
                <button class="btn btn-sm btn-primary m-2" id="addCategoryid" onclick="createCategory();">+ New Category</button>
            </div>
        </div>
    </div>*@

</div>
<button class="btn btn-sm btn-primary m-2" id="addCategoryid" onclick="createCategory();">+ New Category</button>

<br />
<br />
<div class="row" id="CategoryCardView">
</div>
<nav id="paginationContainer">
    <ul id="pagination" class="pagination justify-content-center"></ul>
</nav>
<div class="modal fade modal" id="createCategoryWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info modal-title text-black" id="Categoryheading">Add Category</h1>
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal();"></button>
                @* <button class="close text-danger" data-dismiss="modal">&times;</button>*@
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="popupId" class="form-control" disabled="disabled" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label>Category Name</label>
                            <input id="popupName" class="form-control" autocomplete="off" />
                        </div><br />
                        <div class="form-group">
                            <label>Description</label>
                            <input id="popupDescription" class="form-control" autocomplete="off" />
                        </div><br />

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="AddCategoryBTN" onclick="saveCategory();">Create</button>
                <button class="btn btn-warning" id="UpdateCategoryBTN" onclick="updateCategory();" style="display:none">Update</button>
                <button class="btn btn-danger" id="CloseCategoryBTN" onclick="closeModal();" style="display:none">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CategoryShow();
    });


    function CategoryShow() {
        $.ajax({
            url: '/Category/CategoryIndex',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8;',

            success: function (result) {
                var object = '';
                var count = 0;
                $.each(result, function (index, item) {
                    object += '<div class="col-sm-3">';
                    object += '<div class="card">';
                    object += '<div class="card-body">';
                    object += '<div class="d-flex align-items-center">';
                    object += '<img src="/Images/cubes.png" style="width: 30px; height: 30px;" />';
                    object += '<h5 class="card-title">' + item._CName + '</h5>';
                    object += '</div>';
                    object += '<p class="card-text">' + item._Description + '</p>';
                    object += '<a href="#" class="btn btn-primary" onclick="viewCategory(' + item._Id + ')"> + Details</a>';
                    object += '<a href="#" id="IconButtonEdit" class="btn btn-primary fa-solid" onclick="editCategory(' + item._Id + ')"><i class="fa fa-pen" aria-hidden="true"></i></a>';
                    object += '<a href="#"  id="IconButtonDel" class="btn btn-danger fa-solid" onclick="deleteCategory(' + item._Id + ' )"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                    object += '</div>';
                    object += '</div>';
                    object += '</div>';
                    count++;
                });
                $('#CategoryCardView').html(object);
                if (count > 8) {
                    pagination();
                }
            },
            error: function () {

            }
        });
    }

    function pagination() {
        // The pagination function remains the same
        // ...
    }

    $('#addCategoryid').click(function () {
        $('#AddCategoryBTN').show();
        $('#UpdateCategoryBTN').hide();
        $('#Categoryheading').text('Add Category');
        createCategory();
    });

    function createCategory() {
        cleartextbox();
        $('#createCategoryWindow').modal('show');
    }

    function closeModal() {
        $('#createCategoryWindow').modal('hide');
    }

    function cleartextbox() {
        $('#popupName').val('');
        $('#popupSize').val('');
        $('#popupColor').val('');
        $('#popupCost').val('');
        $('#popupRetailPrice').val('');
    }

    function saveCategory() {
        var name = $("#popupName").val();
        var description = $("#popupDescription").val();

        // Check if the required fields are empty
        if (!name) {
            alert('Please enter a category name.');
            return;
        }

        $.ajax({
            url: '/Category/Create',
            type: 'POST',
            data: {
                _CName: name,
                _Description: description
            },
            success: function () {
                cleartextbox();
                CategoryShow();
                closeModal();
            },
            error: function () {
                // Handle error
            }
        });
    }

    function deleteCategory(id) {
        if (confirm('Are you sure you want to remove this Category?')) {
            $.ajax({
                url: '/Category/Delete?id=' + id,
                success: function () {
                    CategoryShow();
                },
                error: function () {
                    // Handle error
                }
            });
        }
    }

    function viewCategory(id) {
        $.ajax({
            url: '/Category/Edit?id=' + id,
            type: 'GET',
            success: function (response) {
                createCategory();
                $('#popupId').val(response._Id);
                $('#popupName').val(response._CName);
                $('#popupDescription').val(response._Description);

                $('#AddCategoryBTN').hide();
                $('#UpdateCategoryBTN').hide();
                $('#CloseCategoryBTN').show();
                $('#Categoryheading').text('Category Information');
                CategoryShow();
            },
            error: function () {
                // Handle error
            }
        });
    }

    function editCategory(id) {
        $.ajax({
            url: '/Category/Edit?id=' + id,
            type: 'GET',
            success: function (response) {
                createCategory();
                $('#popupId').val(response._Id);
                $('#popupName').val(response._CName);
                $('#popupDescription').val(response._Description);

                $('#AddCategoryBTN').hide();
                $('#UpdateCategoryBTN').show();
                $('#Categoryheading').text('Update Category');
                CategoryShow();
            },
            error: function () {
                // Handle error
            }
        });
    }

    function updateCategory() {
        var id = $('#popupId').val();
        var name = $('#popupName').val();
        var description = $('#popupDescription').val();

        $.ajax({
            url: '/Category/Update',
            type: 'POST',
            data: {
                _Id: id,
                _CName: name,
                _Description: description
            },
            success: function () {
                cleartextbox();
                CategoryShow();
                closeModal();
            },
            error: function () {
                // Handle error
            }
        });
    }


</script>
